# .gitignore

# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyz
*.pyzw
*.egg-info/
dist/
build/
*.egg


# Environments
.env
.venv/
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

# OS
.DS_Store
Thumbs.db

# Pip module
pipfile.lock
pipfile